/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*.index{*/
/* width: 880px;*/
/*  margin: 0 auto;*/
/* position: relative;*/
/*}*/



/*.top1{*/
/* position: absolute;*/
/* top:0;*/
/* left:0;*/
/*}*/

/*.top2{*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    left:120px;*/
/*    top:50px;*/
/*}*/

/*.top3{*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    left:500px;*/
/*    top:50px;*/
/*}*/



/*.text1{*/
/*  display: inline-block;*/
/*  position: absolute;*/
/*  left: 130px;*/
/*  top: 90px;*/

/*}*/

/*.text2{*/
/*display: inline-block;*/
/* position: absolute;*/
/*  left: 510px;*/
/*  top: 90px;*/
/*}*/


/*.delete{*/
/* position: absolute;*/
/*   left: 750px;*/
/*   top: 105px;*/
/*   display: inline-block;*/
/*}*/

/*.edit{*/
/*  position: absolute;*/
/*  left: 700px;*/
/*  top: 105px;*/
/*  display: inline-block;*/
/*}*/

/*.show{*/
   /*position: absolute;*/
   /*left: 650px;*/
   /*top: 105px;*/
   /*display: inline-block;*/

/*}*/

/*.form{*/
/*  position: absolute;*/
/*  top:400px;*/
/*  left:0;*/
/*}*/


.text_area{

line-height: 2.5em;
white-space: nowrap;
left: 0;
margin-bottom: 10px;
}


.main{
    padding-left: 200px;

}

a{
 padding-right: 5px;
 margin-left: 20px;
}

p{
 padding-right: 70px;
}

.error{
 color:red;
}